
@media (min-width: 320px) {
    html {
      font-size: 15px;
    }
}

@media (min-width: 425px) {
        html {
          font-size: 17px;
        } 
    }
@media (min-width: 500px) {
        html {
          font-size: 21px;
        } 
        .heading     {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: space-between;
        }
        .bar          {
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: space-around;
            color:  blanchedalmond;
            
        }  
    }
@media (min-width: 700px) {
    html                   {
        font-size: 25px;
    } 
}      
html{
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    line-height: normal;
    
}
h1           {
    font-size: 2rem;
}

h2           {
    font-size: 1.5rem;
}
header       {
    background-color: black ;
    
    

}
.heading     {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: space-between;

}
.heading img  {
    width: 150px ;
}
.bar          {
    list-style: none;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-self: center;
    align-content: space-around;
    color:  blanchedalmond;
    
}
li a{
    color: blanchedalmond ;
    font-weight: bold;
    margin: 20px ;
    text-decoration:none;
    font-size: 1.2rem;
    padding: 1.2rem ;
}






.instructions    {
    text-align: center;
    background-color:#574E4D;
    color:blanchedalmond;
    
}
.containermenu     {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: space-around;
}

