

body    {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville';
}
.color1{
    background:#ebdf60 ;
}
.color2{
    background: #c3463e;
}
.color3{
    background: #ebdf60;
}
.header      {
    height: 100px;
}  
.main        {
    height:400px;
}  
.section      {
    height: 300px;
}
.principal  {
    width: 100%;
   
}
p   {
    color: #c3463e;
   
}
html          {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    line-height: normal;
}
h1           {
        font-size: 2rem;
        color:#fff;
        text-align: center;
}
h2           {
        font-size: 1.5rem;
        color:#c3463e;
        font-weight: bold ;
}
h3           {
    font-size: 1rem;
    color: white;
    margin-top: 50px;
    margin-left: 600px;
    margin-right: 100px;
}
.headcontainer         {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    background-color:#c3463e;
}
.headcontainer img  {
    width: 100px;
    margin-left:20px;
}
.headitem {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a   {
    font-size: 20px;
    color: #1A1A1A;
    justify-content: space-between;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color:white;
}

/*Buttons state of mind*/

/*sad*/
.myButton {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Libre Baskerville';
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}	
/*angry*/
.myButton2 {
	box-shadow:inset 0px 39px 0px -24px #e2d520;
	background-color:#e2d520;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Libre Baskerville';
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}	
/* happy*/
.myButton3 {
	box-shadow:inset 0px 39px 0px -24px #4ce053;
	background-color:#44e768;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Libre Baskerville';
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#eb675e;
}
.myButton:active {
	position:relative;
	top:1px;
}	
/*Signup*/
.signup-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding:20px;
    margin:8% auto 0;
    text-align: center;
}
.sign-upform  h2 {
         color:#c3463e;
         margin-bottom: 30px;
}
.input-box  {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0 ;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
button  {
    color: #c3463e;
    width: 100%;
    padding: 10px;
    border-radius:20px;
    font-size:15px;
    margin: 10px 0;
    border: none;
    outline:none;
    cursor: pointer;
}
form  a       {
    text-decoration: none;
    color: #c3463e;
}
hr    {
    margin-top :20px;
    width: 80%;
}
h6    {
    font-size: 1rem;
    color:#c3463e;
    background:#fff;
    width: 20px;
    margin: 19px auto 10px;
}
/* Login*/
.login-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding:20px;
    margin:8% auto 0;
    text-align: center;
}
.login-form  h2 {
         color:#c3463e;
         margin-bottom: 30px;
}
.message-container{
    width: 100%;
    max-width: 300px;
}
.message-container p{
    background-color:#ebdf60 ;
    padding: 20px;
    margin: 10px 0;
    color: black;
}
.message-container p.correct-message {
    background-color: #c3463e;
    box-shadow: 0 0 10px #dbf1c1;
}
#result    {
    background-color: black ;
}
#result >  h2  {
    margin-top: 10px;
    margin-left: 900px;
}
/*Faqs*/
