


html{
    font-family: "Bangers", cursive;
    font-weight: 400;
    line-height: normal;
    font-size: 15px;
}
.heading     {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}
.bar          {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}
.bar li  {
    
}






.instructions    {
    text-align: center;
    background-color: aqua;

}
.containermenu     {
    display: flex;
    justify-content:space-around
}